@charset "UTF-8";
/*body {
  background-image: url(http://7xljsf.com1.z0.glb.clouddn.com/bing.php);
  background-size:cover;
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:center;
}*/

#hcond{
  text-align: center;
  	margin-top: 200px;
   /*此时宽和高都要固定*/

}
