@charset "UTF-8";
.indexof{
}
.indexof size{
	margin-right:60px;
}
.indexof si{
	margin-left: 18px;
	width: 91px;
	display: inline-block;
}
.indexof name{
	margin-left: auto;
	width: auto;
}
.indexof mtime{
	margin-right: 235px;
}
