@charset "UTF-8";
body {
	background-image: url(http://77flfx.com1.z0.glb.clouddn.com/100001654389814.jpg);
	//background-image: url(http://qqfs.qiniudn.com/background.png);
	background-size: cover;
	//background-image: url(http://johnzhang.cn/bing.php);
	  background-attachment:fixed;
    min-width: 500px;
    font-family:Source Han Sans CN,微软雅黑,Helvetica,STHeiti,Droid Sans Fallback;
}
a {
	transition: color 1s;
}
.footer a:hover{
	color:royalblue;
}
#hcon a:hover{
	color:royalblue;
}
.footer
{
	text-align:center;
	margin-bottom:6px;
	color:#FFF;
	text-shadow:1px 1px 15px #000;
}
.footer a {
	color:#fff;
	text-decoration:none;
	margin-bottom:6px;
	transition: color 1s;
	white-space: nowrap;
}
.footer p{
	color: darkslategray;
	font-family:clicker script,segoe script,Comic Sans MS;
	font-size: 28px;
	margin-top: 0px;
 	text-shadow: none;
}
.base {
max-width:700px;
}
#hcon{
	color:#FFF;
	text-shadow:1px 1px 15px #000;
}
.center{
	text-align:center;
	margin:0px auto;
}
#hcon a{
	text-decoration:none;
	color:#FFF;
	text-shadow:1px 1px 15px #000;
	transition: color 1s;
}
.base{
	width:60%;
}
p
{
	color:#FFF;
	text-shadow:1px 1px 15px #000;
}
p h1{
	color:#FFF;
	text-shadow:1px 1px 15px #000;
}
.wrap {
	position:fixed;
	bottom: 10px;
	left: 10px;
}
.mindex {
	max-width: 400px;
}
.ds-thread{
	width: 900px;
}
.ds-thread p{
	text-shadow:none;
	transition:none;
}
