@charset "UTF-8";
/*import url(http://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css);*/
#root {
    /*background-image: url(http://77flfx.com1.z0.glb.clouddn.com/100001654389814.jpg);
	background-image: url(http://qqfs.qiniudn.com/background.png);
	background-image: url(http://johnzhang.cn/bing.php);*/
    background: fixed center top;
    /*background-color: rgba(249, 249, 249, 1);*/
    font-family: Source Han Sans CN, 微软雅黑, Helvetica, STHeiti, Droid Sans Fallback;
    right: 0;
    bottom: 0;
    /*background-image: url(http://qqfs.qiniudn.com/background.png);*/
    background-size:100% auto;
}
#hcond {
    text-align: center;
    margin-top: 200px;
    max-width: 94%;
    margin-left: 3%;
    /*此时宽和高都要固定*/
}
#root a:hover {
    text-decoration: none;
}

.footer p {
    color: darkslategray;
    font-family: clicker script, segoe script, Comic Sans MS;
    font-size: 28px;
    margin-top: 0px;
    text-shadow: none;
    text-align: center;
    display: block;
}

.base {
    max-width: 700px;
}

.center {
    text-align: center;
    margin: 0px auto;
}

.base {
    width: 60%;
}

#hcon {
    text-align: center;
    margin-top: 200px;
}

.wrap {
    position: fixed;
    bottom: 100px;
    right: 25px;
}

.mindex {
    max-width: 400px;
}

.tianqi {
    width: 420px;
    height: 45px;
    float: right;
}

.tiao {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#commit p{
  font-size: 100%;
  text-shadow:1px 1px 3px #000;
}
p a{
  text-decoration:none;
}
//xmd{
  text-align: center;
}
time{
  font-size: 50%;
  color: #A9A9A9;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
}
center p{
}
#commit{
  clear:both;
}
.hitokoto a{
  text-decoration:none;
  text-align: center;
}
text{
  text-align: center;
}
#ti{
      text-shadow:1px 1px 5px #000;
      resize: none;
      overflow:visible;
      height: 100px;
      background:rgba(254, 254, 254, 1) no-repeat right bottom;
      background-size: auto 70%;
}
#jiao{
  float:right;
    font-weight: normal;
    text-shadow: none;
    border: 0;
    background: #00a3cf;
    color: #fff;
}
a{
  text-decoration: none;
}
ys{
  text-shadow:1px 1px 2px #000;
}
#hitokoto{
  //text-shadow:1px 1px 1px #000;
  text-decoration: none;
}
#hitokoto p{
  margin-bottom: 0px;
}
im img{
  width: 100px;
  height: 100px;
}
.emojisize{
  width:20px;
  height:20px;
}
.wrap {
	position:fixed;
	bottom: 50px;
	right:50px;
  z-index: 99;
}
.comment{
  width:720px;
  margin-left: auto;
  margin-right: auto;
  max-width:95%;
}
comment code{
  display: inline-block;
}
span a{
  color: #FFF;
}
.status{
  font-size:50%;
  display: none;
}
.comm{
}