<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/master.css">
    <link rel="stylesheet" type="text/css" href="/css/indexof.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/init.js"></script>
    <title>Index of other /</title>
  </head>
  <body>
  <div class="indexof">
  <h1>Index of /other</h1>
  <mtime>最近更改</mtime>
  <size>大小</size>
  <name>文件名</name>
  <br>
