@import url(/css/font.css);
@import url(http://77flfx.com5.z0.glb.clouddn.com/emoji.css);
comment{
  font-size: 100%;
  text-shadow:1px 1px 3px #000;
}
p a{
  text-decoration:none;
}
.mobile{
  background-size: contain;
  background-attachment:fixed;
}
time{
  font-size: 50%;
  color: #A9A9A9;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
}
body{
    font-family:Source Han Sans CN,微软雅黑,Helvetica,STHeiti,Droid Sans Fallback;
}
center p{
}
#commit{
  clear:both;
}
comment img{
  height:24px;
  width:24px;
}
.hitokoto a{
  text-decoration:none;
  text-align: center;
}
text{
  text-align: center;
}
#hitokoto{
  color:#00a3cf;
}
#ti{
      text-shadow:1px 1px 5px #000;
}
#jiao{
  float:right;
    font-weight: normal;
    text-shadow: none;
    border: 0;
    background: #00a3cf;
    color: #fff;
}
a{
  text-decoration: none;
}
ys{
  text-shadow:1px 1px 2px #000;
}
#hitokoto{
  text-shadow:1px 1px 2px #000;
  text-decoration: none;
}
im img{
  width: 100px;
  height: 100px;
}
.emojisize{
  width:20px;
  height:20px;
}
.wrap {
	position:fixed;
	bottom: 50px;
	right:50px;
  z-index: 99;
}
.comment{
  max-width:700px;
  margin-left: auto;
  margin-right: auto;
}
