@import url(https://fonts.lug.ustc.edu.cn/css?family=Clicker+Script|Open+Sans:400,300);
comment{
  font-size: 100%;
}
p a{
  text-decoration:none;
}
.mobile{
  background-image: url(http://qqfs.qiniudn.com/background.png);
  background-size: contain;
  background-attachment:fixed;
}
time{
  font-size: 50%;
  color: #A9A9A9;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
}
body{
    font-family:Source Han Sans CN,微软雅黑,Helvetica,STHeiti,Droid Sans Fallback;
}
center p{
}
comment img{
  height:24px;
  width:24px;
}
.hitokoto a{
  text-decoration:none;
  text-align: center;
}
text{
  text-align: center;
}
#hitokoto{
  color:#00a3cf;
}
